* {
    margin: 0;
    padding: 0;
    background-color: #424786;
}

body {
    background-color: #424786;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}
